.textareareadonly { background: #E6E6E6; border-color: #294B85; border-style: solid;  font-weight:normal;}

TD {
	FONT: 12px verdana,arial,sans-serif; COLOR: #000000
}
A {
	COLOR: #003399; TEXT-DECORATION: none
}
A:hover {
	COLOR: #003399; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #003399;
}

.topic {
	FONT: 12px verdana,arial,sans-serif; font-weight: bold; COLOR: #000000; padding: 2px;
}

.topic_justify {
	FONT: 12px verdana,arial,sans-serif; font-weight: bold; COLOR: #000000; padding: 2px; text-align: justify;
}

.contenu {

}

.contenu_accueil {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-position: top;
	text-align: justify;
}

.contenu_extra {
	FONT: 14px verdana,arial,sans-serif; font-weight: bold;
    color: #294B85;

}

UL#menutitresactu A {
	FONT-WEIGHT: bold
}
UL#menutitresactu {
	PADDING-LEFT: 0px; MARGIN: 5px 10px 10px 0px
}
UL#menutitresactu LI {
	MARGIN-BOTTOM: 0.5em; LIST-STYLE-TYPE: none; font-size: 11px;
}

.bttn-menu {
	FONT: 12px verdana,arial,sans-serif; font-weight: bold; COLOR: #000000;
	background: url(../images/bttn-petit.gif) repeat-y 0px 0px;
	height: 33px;
	width: 168px;
	align: middle;
	vertical-align: middle;
}

.zoneUtilisateur  {
				border: #000000;
				width: 100%;
				height: 470px;
				table-layout: fixed;
			    margin-left: 0px;
			    margin-right: 0px;
			    vertical-align: top;
			    left: 0px;
			    top: 0px;
			    position: relative;
}

.wwFormTable { background: #ffffff;
				border: thin transparent  #FFFFFF;
				width: 100%;
				height: 480px;
				table-layout: fixed;
				}

.wwFormTable TD {  }

.LoginForm { background: #999999;
				border: 0;
				width: 100%;
				}

.LoginFormTitre { background: url(actualites-arrondi-haut.gif);
					font-weight: bold;
					font-size: 12px;
					color: #ffffff;
					text-align: center;
					width: 202px;
					height: 30px; }

.LoginFormField { background: #ffffff;
				 border-style: none;
				 font-weight:normal;
				  }

.LoginFormTd{
	color: #000000;
	padding: 10px;
	text-align: justify;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #999999;
}

.LoginUser {
					font-weight: bold;
					font-size: 12px;
					color: #000000;
					text-align: center;
}
.logout {
	font-size: 10px;
	color:red;
	font-style: normal;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	}

.LoginInfo {
	font-size: 10px;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	 }

.labelLogin {font-size: 10px; font-style: normal; font-weight: bold; color: #000000; }
.labelErrorLogin {font-size: 11px; font-style:italic; color:red; }

.xxxForm { background: #FFFFFF;
				width: 100%;
				}

.xxxFormTitre { background: #00286E;
					font-weight: bold;
					font-size: 14px;
					color: #ffffff;
					text-align: center;
					height: 32px; }

.xxxDocForm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-position: top;
	text-align: justify;
	width: 100%;
				}

.xxxDocFormTitre { background: #00286E;
					font-weight: bold;
					font-size: 14px;
					color: #ffffff;
					text-align: center;
					height: 32px; }

.docBox { background: #f5f9fb;
				border: 1px solid #294B85;
				width: 100%;
				}

.docBoxTitre { background: #00286E;
					font-weight: bold;
					font-size: 14px;
					color: #ffffff;
					text-align: center;
					height: 22px; }

.menuItem { font-weight: bold;
					font-size: 11px;
					color: #00286E;
					text-align: left;
					height: 24px;
					 }


.commandBar { background: #FFFFFF; }

.EtapeTable { background: #FFFFFF url(../images/bg_etapes.gif) repeat-y 0px 0px;;
				width: 100%;
				height: 100%;
				margin: 0px 0px;
			}

.dEtapeTable {
				FONT-SIZE: 10px;
				color: #FFFFFF;
				font-weight: bold;
				text-align: center;
}

.EtapeSelected {
				background: #FFFFFF;
				text-align: center;
				}

.dEtapeSelected {
					FONT-SIZE: 10px;
					font-weight: bold;
					color: #000000;
					text-align: center;
}

.tdLabel {text-align:right; }
.tdLabelTop {text-align:right; vertical-align: top; }

.tdLabelVerticalRadioList {text-align:left; }

.separateur { height: 14px; }
.separateur_demi { height: 7px; }
.separateur_double { height: 28px; }
.separateur_spacer { height: 14px; }

.liner {
	background: #294B85 url(../images/bg_body_blue.jpg) repeat-y 0px 0px;
	height: 3px;
}

.label {font-style: normal; font-weight: bold; color: #294B85; }
.errorLabel {font-style:italic; color:red; }
.errorMessage {font-weight:normal; text-align: center; color:red; font-size: 9px;}
.errorMessage2 {font-weight:normal; text-align: left; color:red; font-size: 9px;}
.checkboxLabel {}
.checkboxErrorLabel {color:red; }
.required {color:red;}

.connect{
	background: transparent;
	color: #000000;
	font-weight:bold;
	cursor: pointer;
	border: none;
	outline:none;
	}

.connect:hover {
	background: transparent;
	color: #FFFFFF;
	font-weight:bold;
	cursor: pointer;
	border: none;
	outline:none;
}

.connecthover {
	background: transparent;
	color: #FFFFFF;
	font-weight:bold;
	cursor: pointer;
	border: none;
	outline:none;
}

.submit{
	background: transparent url(../images/fond_boutons_g_f.gif) no-repeat;
	color: #FFFFFF;
	width:145px;
	height:25px;
	font-weight:bold;
	cursor: pointer;
	border:none;
	outline:none;
	}
input.submit:hover {
	color: #00286E;
	text-decoration: none;
}

.submithover{
	background: transparent url(../images/fond_boutons_g_f.gif) no-repeat;
	color: #00286E;
	width:145px;
	height:25px;
	font-weight:bold;
	cursor: pointer;
	border:none;
	outline:none;
	}

.submitpetit{
	background: transparent url(../images/fond_boutons_p_f.gif) no-repeat;
	color: #FFFFFF;
	width:110px;
	height:25px;
	font-weight:bold;
	cursor: pointer;
	border:none;
	outline:none;
	}
input.submitpetit:hover {
	color: #00286E;
	text-decoration: none;
}
.submitpetithover{
	background: transparent url(../images/fond_boutons_p_f.gif) no-repeat;
	color: #00286E;
	width:110px;
	height:25px;
	font-weight:bold;
	cursor: pointer;
	border:none;
	outline:none;
	}

.submitgrand{
	background: transparent url(../images/fond_boutons_tg_f.gif) no-repeat;
	color: #FFFFFF;
	width:180px;
	height:25px;
	font-weight:bold;
	cursor: pointer;
	border:none;
	outline:none;
	}
input.submitgrand:hover {
	color: #00286E;
	text-decoration: none;
}
.submitgrandhover{
	background: transparent url(../images/fond_boutons_tg_f.gif) no-repeat;
	color: #00286E;
	width:180px;
	height:25px;
	font-weight:bold;
	cursor: pointer;
	border:none;
	outline:none;
	}

.textfield { background: #ffffff; border-color: #294B85; border-style: solid;  font-weight:normal;}
.textarea { background: #ffffff; border-color: #294B85; border-style: solid;  font-weight:normal;}
.combobox { background: #ffffff; border-color: #294B85; border-style: solid;  font-weight:normal;}


.lienOdd { background: #F3F3F3;
					font-weight: bold;
					font-size: 12px;
					color: #000000;
					text-align: right;
					 }
.lienOdd A { color: #003399; font-weight: normal; font-size: 12px;}
.lienOdd A:hover { color: #003399; font-weight: bold; font-size: 12px;}
.lienOdd A:visited { color: #003399; font-weight: normal; font-size: 12px;}

.lienEven { background: #F9F7F7;
					font-weight: bold;
					font-size: 12px;
					color: #000000;
					text-align: left;
					 }
.lienEven A { color: #003399; font-weight: normal; font-size: 12px;}
.lienEven A:hover { color: #003399; font-weight: bold; font-size: 12px;}
.lienEven A:visited { color: #003399; font-weight: normal; font-size: 12px;}


.radioNormal { font-style: normal; }
.radioActif { font-style: normal; font-weight: bold; color: #294B85; }


body {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	background-color: #FFFFFF;
	background-image: url(../images/motif.gif);
	background-repeat: repeat-x;
}
#page {
	background-color: #FFFFFF;
	height: 100%;
	border: 1px solid #333333;
	vertical-align: top;
	margin: 5px;
}

.menu {
	font-size: 11px;
	font-weight: bold;
	background-color: #00286E;
	background-position: center;
}
.menu td {
	background-image: url(../images/menu-bttn-bckg.gif);
	height: 27px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}
.menu a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.menu a:hover {
	color: #FF0000;
	text-decoration: none;
}

.menu a:active {
	color: #FFFFFF;
	text-decoration: none;
}
.menu a:visited {
	color: #FFFFFF;
	text-decoration: none;
}


.actualites td{
	color: #000000;
	padding: 10px;
	text-align: justify;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #999999;
}

.actualites a {
	color: #000000;
	font-weight: bold;
}

.menu-bas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}
.menu-bas a:link {
	color: #666666;
	text-decoration: none;
}
.menu-bas a:hover {
	color: #333333;
	text-decoration: underline;
}
.menu-bas a:visited {
	color: #666666;
	text-decoration: none;
}
.menu-bas a:active {
	color: #666666;
	text-decoration: none;
}
